@font-face {
	font-family: Roboto-Italic;
	src: url("../fonts/Roboto-Italic.ttf") format("truetype");
}
@font-face{
	font-family:Roboto-Thin;
	src:url("../fonts/Roboto-Thin.ttf") format("truetype");
}
@font-face{
	font-family:Roboto-Regular;
	src:url("../fonts/Roboto-Regular.ttf") format("truetype");	
}
@font-face{
	font-family:Roboto-Bold;
	src:url("../fonts/Roboto-Bold.ttf") format("truetype");	
}
@font-face{
	font-family:Roboto-Light;
	src:url("../fonts/Roboto-Light.ttf") format("truetype");	
}


body{
	font-family: Roboto-Regular;
}
em{
	font-family: Roboto-Italic;
}




.thin-font{
	font-family:Roboto-Thin;
	font-size: 25px !important;
	font-weight: 600;
	color:#828282;
	margin-top: 32px;
	margin-bottom: 35px;
}
.fancy-text{
	font-family:Roboto-Italic;
	font-weight: 500;
	font-size:40px;
}
.fancy-text emphasis{
	color:#FB7737;
	font-size: 70px;
}

.margin-top-10{
	margin-top:10px;
}

.margin-top-15{
	margin-top:15px;
}

.form-control{
	height:45px;
}

.scroll{
	padding:5px;
	color:#cccccc;
	background: #EEE;
}

.wiki{
	color:#828282;
}

.logo-text{
	color:#828282;
	font-size: 45px;
	font-family: Roboto-Light;
	margin-top:10px;
	margin-bottom:40px;
	font-weight:600;
}

hr{
	border-top: 1px solid #CCC;
}

.related-articles{
	background-color: #F7F7F7;
	overflow: hidden;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 5px;
}

.cursor-pointer{
	cursor: pointer!important;
}

.ajax-loader{
	background: url('../imgs/ajax-loader.gif');
	height: 20px;
	width: 20px;
}

.search-wrapper{
	padding:14% 20%;
}

.position-rel{
	position:relative;
}

.position-rel .icon-set-right{
	position: absolute;
	top:10px;
	right:10px;
	font-size: 20px;
	color:#828282;
}

.carousel-control.left,.carousel-control.right{
	background-image:none !important; 
}

.scroll-enable{
	height:121px;
	overflow:hidden;
	margin-bottom: 0px;
}

.details i{
	color:#75C73F;
	padding: 0px 10px 0px 5px;
}

.details .list-group{
	text-align: left;
	margin-bottom: 0px;
	color:#828282;
}

footer{
	padding-top:8px;
	height:90px;
	box-shadow:0px 2px 5px  #CCCCCC;
	color:#828282;
}

.gradient1{
	background-color:#75C73F;
	color:#375C19;
	padding:10px 5px;
	border-radius:3px;
}

.gradient1 .title{
	font-weight:800;
	font-size:22px;
	font-family: sans-serif;
	text-shadow:0px 1px #666666;
}

.gradient2{
	background-color:#FB7737;
	color:#FFFFFF;
	padding:10px 5px;
	border-radius:3px;	
}

.gradient2 .title{
	font-weight:800;
	font-size:22px;	
	font-family: sans-serif;
	text-shadow:1px 1px #000000;
}

.margin-top-neg-10{
	margin-top:-10px;
}

.price-tag{
	background-color:#F8F8F0;
	color:#B8B081;
	font-weight:600;
	padding:12px;
}

.price-tag .price{
	font-size: 60px;
	text-shadow:1px 1px #cccccc;
}

.price-tag .price .cents{
	font-size: 20px;
	margin-top:-10px;
	margin-left:5px;
	margin-right:5px;
}

.price-tag .tag{
	position: absolute;
	top:25%;
	right: 0px;
}

.price-tag .tag .tag-flag-green{
	height:18px;
	width:70px;
	border-left:18px solid transparent;
	border-top:18px solid #75C73F;
	border-bottom:18px solid #75C73F;
	color:#375C19;
	text-shadow:0px 1px #cccccc;
}

.price-tag .tag .tag-flag-red{	
	height:18px;
	width:70px;
	border-left:18px solid transparent;
	border-top:18px solid #FB7737;
	border-bottom:18px solid #FB7737;
	color:#FFFFFF;
	text-shadow:1px 1px #000000;
}